@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 320px) {
   
    body {
      font-size: 10%; 
    }
  
   
    .grid {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  

    .element-class {
      width: 50%; 
      height: 50%; 
    }

    .text-class {
      font-size: 50%; 
    }

    .padding-class {
      padding: 5%; 
    }
  
  
    .flex-container {
      flex-direction: column; 
  }}